@model ClassLibrary.Datatable




<h2 style="margin-top:20px;">TimeEntrySystem</h2>

<div class="col-md-6">
    @Html.ValidationSummary(false, null, new { @class = "text-danger" })
</div>
<div>
    @using (Html.BeginForm())
    {
        <div class="form-group">
            @Html.LabelFor(x => x.username)
            @Html.TextBoxFor(x => x.username, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.password)
            @Html.TextBoxFor(x => x.password, new { @class = "form-control", type = "password" })
        </div>
        <div class="form-group">
            <button id="CmdSubmit" type="submit" class="btn btn-outline-secondary">Login</button>
            <br />
            <br />
            New user? @Html.ActionLink("Register","Register")
        </div>
    }

    @if (ViewData["Message"] != null)

    {
        <p style="color:red">@ViewData["Message"].ToString()</p>
    }

    @*<div>
            <div>
                <label>Select A Name</label>
            </div>
            <div>
                <select class="form-control" id="Names" name="Name Of Student">
                    <option value="0">Select Name</option>
                    <option>Sai Teja</option>
                    <option>Lakshman</option>
                    <option>Teja</option>
                    <option>Sairam</option>
                </select>
            </div>
        </div>*@

</div>